.footer {
  padding-top: 0px;
  padding-bottom: 25px; 
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 600px;
  margin:0 auto;
}

.logo {
  display: block;
  margin: 20px auto;
  height: 75px;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
  font-size: 24px;
}

hr {
  display: block;
  border: 2px solid grey;
  width: 75px;
  margin-right: 1000px;
  margin-top: 0px;
}
.box {
  border: 1px solid black;
  /*padding: 20px;*/
  width: 100%;
}

.out_box {
  width: 60%;
  border: 1px solid red;
  padding: 20px;
  margin-bottom: 30px;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0px;
  padding: 0px;
}

table {
  width: 100%;
}

.buttons {
  margin-top: 0px;
  margin-left: 25px;
} 

#show-modal {
  padding: 10px;
  margin-bottom: 20px;
}